@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255; /* Pure white for light mode */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0; /* Pure black for dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)); /* Ensure pure black or white */
}

/* Optional: Tailwind utility for balanced text wrapping */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
